This is an example of a jupyter notebook, running using the `pixi` environment we created to manage our dependencies. Note that you may need to change your python interpreter (top right corner) to:
`.pixi/envs/default/bin/python`

In [8]:
import pandas as pd
from dotenv import load_dotenv
import os

Loading the dotenv allows us to dynamically name files, use different paths between users, and generally keep our workspaces reproducible when different users need to use different names / paths and whatnot. Note that this is sort of a toy example, since often in a dev container we don't really need to use a dotenv (ideally, because we usually do not interact with the host system through anything other than mounted bind paths). But, it is useful to know how it works regardless!

In [9]:
load_dotenv('../.devcontainer/.env')
demo_name = os.getenv("DEMO_NAME")
print(demo_name)

jane_doe

In [10]:
demo_name = os.getenv("DEMO_NAME")
results_path = f"../data/output/{demo_name}.csv"
print(results_path)

../data/output/jane_doe.csv

At this point - setup is done, and we can develop as normal!

In [11]:
combined_results = pd.read_csv(results_path)
combined_results.head()

   MapUnit_ID                 Species Class   Con  Avg  Min  Max
0       10161   Achnatherum coronatum  Herb  35.0  0.1  0.2  0.4
1       21234   Achnatherum coronatum  Herb  67.0  0.3  0.2  1.0
2       13014  Achnatherum hymenoides  Herb  50.0  0.1  0.2  0.2
3       10161   Achnatherum speciosum  Herb  94.0  1.1  0.2  4.2
4       21234   Achnatherum speciosum  Herb  83.0  0.7  0.2  2.0

In [12]:
combined_results.groupby('Species').count()

                               MapUnit_ID  Class  Con  Avg  Min  Max
Species
Acacia greggii                         42     42   42   42   42   42
Acamptopappus sphaerocephalus           5      5    5    5    5    5
Achnatherum coronatum                   2      2    2    2    2    2
Achnatherum hymenoides                  1      1    1    1    1    1
Achnatherum speciosum                  39     39   39   39   39   39
...                                   ...    ...  ...  ...  ...  ...
Xanthium strumarium                     1      1    1    1    1    1
Xylorhiza tortifolia                   15     15   15   15   15   15
Yucca brevifolia                       28     28   28   28   28   28
Yucca schidigera                       37     37   37   37   37   37
Ziziphus obtusifolia                    1      1    1    1    1    1

[204 rows x 6 columns]

Note that the best way to save analytical outputs would be to save them to the same gcp bucket we started with - however, that would require authentication with GCP and we omit that here. As a decent middle ground, you can simply save it locally within something like `Github Codespaces` and then right click and download that file from `VSCode`.